<div class="container d-flex justify-content-center" style="height: 100vh; align-items: center;">
    <% if (typeof getChanges === 'undefined') { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">UploadFoto</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Isi Dengan Benar</h6>
              <!-- form -->
              <form method="post" action="/profile" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="Avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" name="Avatar"  id="Avatar" required>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- last form -->
            </div>
          </div>
        <% } else {%>
            <div class="card" style="width: 18rem; margin-right: 10px;">
                <img src="<%= getChanges.Foto %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Welcome <%= getChanges.Username  %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
              </div>
        <% } %>
  
</div>